.offcanvas-nav.offcanvas_main.offcanvas.offcanvas-start(tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbar")
    .offcanvas-header.justify-content-start
        button(type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close")
            span.visually-hidden Close nav
        a.navbar-brand(href='#')
            img(src='images/logo.svg', alt='NEWITTS', width='141' height='20')
    .offcanvas-body
        nav#navbar_mega.navbar-mega
            ul.navbar-nav
                li.nav-item.nav-item__main
                    a.nav-link(href='#') Sports
                    .dropdown-menu.dropdown-menu__first.border-0
                        .form-holder
                            -var placeholderSearchLeft = 'Search for sports'
                            -var searchHeaderId = '02'
                            include ../templates/_search_icon_left
                        .scrollable-area
                            ul.navbar-nav
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') American footbal
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Athletics Equipment
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Badminton
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['Badminton Rackets', 'Badminton Shuttlecocks', 'Badminton Posts', 'Badminton Nets']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Baseball
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Basketball
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['View all', 'Basketballs', 'Basketball Hoops', 'Basketball Backboards', 'Basketball Rings', 'Basketball Clothing']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Bouldering
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Boxing
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['View all', 'Boxing Clothing & Footwear', 'Boxing Equipment', 'Boxing Protection', 'Punch Bags']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Cricket
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['View all', 'Cricket Equipment', 'Cricket Clothing and Shoes', 'Cricket Protection']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Darts
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Dodgeball
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['Dodgeballs']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Football
                                    .dropdown-menu.dropdown-menu__second.border-0
                                        .scrollable-area
                                            ul.navbar-nav
                                                each item in ['View all', 'Football Goal Posts', 'Football Goal Post Accessories', 'Football Nets', 'Football Clothing', 'Referee Kit', 'Football Boots', 'Footballs', 'Football Bibs', 'Football Bags', 'Football Shin Guards', 'Football Training Equipment', 'Goalkeeper Gloves', 'Pitch Accessories']
                                                    li.nav-item.nav-item__second
                                                        a.nav-link(href='#')= item
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Golf
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Gymnastics
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Handball
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Hockey
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Kurling
                                li.nav-item.nav-item__first
                                    a.nav-link(href='#') Tennis

                li.nav-item.nav-item__main
                    a.nav-link(href='#') Sports Brands
                li.nav-item.nav-item__main
                    a.nav-link(href='#') Play Equipment
                li.nav-item.nav-item__main
                    a.nav-link(href='#') Fitness
                li.nav-item.nav-item__main
                    a.nav-link(href='#') Clearance